<h1>Vos classes</h1>

<div style="margin-bottom:15px;">
  <button (click)="createClass()">➕ Ajouter une classe</button>
</div>

<select (change)="goToClass($event)">
  <option value="">Choisir une classe</option>
  <option *ngFor="let classroom of classrooms" [value]="classroom.id">
    {{ classroom.nom }}
  </option>
</select>

<h3>Gérer les classes</h3>

<ul>
  <li *ngFor="let classroom of classrooms" style="margin-bottom:8px;">
    {{ classroom.nom }}

    <button (click)="renameClass(classroom)" style="margin-left:10px;">✏️</button>

    <button (click)="deleteClass(classroom.id)" style="margin-left:5px;">🗑️</button>

    <button (click)="openImport(classroom)" style="margin-left:5px;">Import 📥</button>
    
    <button (click)="exportCsv(classroom.id)" style="margin-left:5px;">Export 📤</button>
  </li>
</ul>

<div *ngIf="importTarget" style="margin-top:15px;">
  Import CSV dans : {{ importTarget.nom }}<br>
  <input id="csvInput" type="file" accept=".csv" (change)="onCsvSelected($event)">
  <button (click)="importCsvIntoClass()">Importer</button>
  <button (click)="cancelImport()">Annuler</button>
</div>

<br><br>

<button routerLink="/">Retour à l'accueil</button>