.sidebar {
  width: 250px;
}

button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.dropdown {
  margin-top: 10px;
  max-height: 175px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background: white;
  padding: 5px;
}

.dropdown.hidden {
  display: none;
}

.student {
  padding: 6px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.student:hover {
  background-color: #f2f2f2;
}

input {
  width: 100%;
  padding: 6px;
  margin-bottom: 5px;
  box-sizing: border-box;
}